// SPDX-License-Identifier: GPL-2.0 OR X11
/*
 * Copyright 2015 Boundary Devices, Inc.
 * Copyright 2021 Logos Payment Solutions A/S
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	memory@10000000 {
		device_type = "memory";
		reg = <0x10000000 0x20000000>; /* 512 MB */
	};

	chosen {
		stdout-path = &uart4;
	};

	aliases {
		mmc0 = &usdhc4; // eMMC on NiCore8
		mmc1 = &usdhc3; // eMMC on carrier
		mmc2 = &usdhc1; // SD card on carrier

		usb0 = &usbotg;
		usb1 = &usbh1;

		ethernet0 = &fec;

		// I2C labels follows naming on schematics, aliases below keeps it simple
		i2c1 = &i2c2;
		i2c2 = &i2c3;
		i2c3 = &i2c4;
		i2c4 = &i2c_lcd;
		i2c5 = &i2c_hdmi;
		i2c6 = &i2c_gp;
		i2c7 = &i2c_cam;

        	//backlight_lvds = &backlight_lvds;
        	fb_lvds = &fb_lvds;
        	ldb = &ldb;
        	mxcfb0 = &fb_lvds;
        	//pwm_lvds = &pwm4;
	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		compatible = "gqpio-leds";

		/* LED1 on schematic, LED2 on board */
		led1 {
			label = "nicore8:green:heartbeat";
			gpios = <&gpio6 7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		/* LED2 on schematic, LED3 on board */
		led2 {
			label = "nicore8:green:usr3";
			gpios = <&gpio6 9 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "cpu0";
			default-state = "off";
		};
	};

    /*
    backlight_lvds: backlight-lvds {
        compatible = "pwm-backlight";
        pwms = <&pwm4 0 5000000>; // MX6QDL_PAD_KEY_ROW0__GPIO4_IO07 - DISP_BKLT_PWM

        brightness-levels = <0 4 8 16 32 64 128 255>;
        default-brightness-level = <8>;

        //display = <&fb_lvds>;
        power-supply = <&reg_3p3v>;
        enable-gpios = <&gpio 4 6>; // MX6QDL_PAD_KEY_COL0__GPIO4_IO06 - DISP_VDD_EN
        status = "okay";
    };
    */

    // LVDS frame buffer node - binding to MXC graphics driver
    fb_lvds: fb@0 {
        compatible = "fsl,mxc_sdc_fb";
        disp_dev = "ldb";
        interface_pix_fmt = "RGB24";
        default_bpp = <32>;
        int_clk = <0>;
        late_init = <0>;
        status = "okay";
    };

    // SHARP LQ121 12.1"
    /*
    panel_lvds0 {
        compatible = "sharp,lq121s1lg86";
        backlight = <&backlight_lvds>;
        port {
            panel_in: endpoint {
                remote-endpoint = <&lvds0_out>;
            };
        };
    };
    */

    // LVDS Display Bridge - interface of the i.MX6 CPU that connects the IPU to an external LVDS display interface
    ldb@020e0000 {
        status = "okay";
        lvds-channel@0 {
            crtc = "ipu1-di0";
            fsl,data-mapping = "jeida";
            fsl,data-width = <24>; // TODO: ? 18-bit 262144 colors.
            primary;
            status = "okay";

            native-mode = <&timing0>;
            timing0: lq121s1lg86 {
                clock-frequency = <40000000>;
                hactive = <800>;
                vactive = <600>;
                hfront-porch = <246>; // TH - THd = 1056 - 800 = 256 - 10 (hsync-len) = 246
                hback-porch = <0>;
                hsync-len = <10>; // Not mentioned in datasheet, driver does not allow 0.
                vback-porch = <0>;
                vfront-porch = <56>; // TV - TVd = 666 - 600 = 66 - 10 (vsync-len) =  56
                vsync-len = <10>; // Not mentioned in datasheet, driver does not allow 0.
            };
        };
    };

    regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_2p5v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;			
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb_otg_vbus: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "USB_OTG_PWR";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 15 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_sdio_pwr: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "SDIO_PWR";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			enable-active-high;
			gpio = <&gpio6 16 GPIO_ACTIVE_HIGH>;
			regulator-boot-on;
		};

	};
};

&iomuxc {
	pinctrl-names = "default";

	imx6dl-nicore8 {
		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D17__ECSPI1_MISO		0x100b1
				MX6QDL_PAD_EIM_D18__ECSPI1_MOSI		0x100b1
				MX6QDL_PAD_EIM_D16__ECSPI1_SCLK		0x100b1
				MX6QDL_PAD_EIM_EB2__GPIO2_IO30		0x000b1
				>;
			};

		/*
		pinctrl_usbotgvbus: usbotgvbusgrp {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW4__GPIO4_IO15		0x130b0
			>;
		};
		*/

		pinctrl_enet: enetgrp {
			fsl,pins = <
				MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x1b0b0
				MX6QDL_PAD_ENET_MDC__ENET_MDC		0x1b0b0
				MX6QDL_PAD_RGMII_TXC__RGMII_TXC		0x1b030
				MX6QDL_PAD_RGMII_TD0__RGMII_TD0		0x1b030
				MX6QDL_PAD_RGMII_TD1__RGMII_TD1		0x1b030
				MX6QDL_PAD_RGMII_TD2__RGMII_TD2		0x1b030
				MX6QDL_PAD_RGMII_TD3__RGMII_TD3		0x1b030
				MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL	0x1b030
				MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	0x0a0b1
				MX6QDL_PAD_RGMII_RXC__RGMII_RXC		0x1b030
				MX6QDL_PAD_RGMII_RD0__RGMII_RD0		0x13030
				MX6QDL_PAD_RGMII_RD1__RGMII_RD1		0x13030
				MX6QDL_PAD_RGMII_RD2__RGMII_RD2		0x1b030
				MX6QDL_PAD_RGMII_RD3__RGMII_RD3		0x1b030
				MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL	0x130b0
				MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25	0x130b0 // RGMII_nRST
				MX6QDL_PAD_ENET_RXD0__GPIO1_IO27	0x180b0 // RGMII_INT
			>;
		};

/* TODO
		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
				MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
			>;
		};
*/

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
				MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_5__I2C3_SCL		0x4001b8b1
				MX6QDL_PAD_GPIO_6__I2C3_SDA		0x4001b8b1
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX6QDL_PAD_ENET_TX_EN__I2C4_SCL		0x4001b8b1
				MX6QDL_PAD_ENET_TXD1__I2C4_SDA		0x4001b8b1
			>;
		};

		pinctrl_wdog: wdoggrp {
			fsl,pins = <
			      MX6QDL_PAD_GPIO_9__WDOG1_B		0x1b0b0
			>;
		};

		pinctrl_leds: ledsgrp {
			fsl,pins = <
			      MX6QDL_PAD_NANDF_CLE__GPIO6_IO07	0x0b0b0 // LED 2, output 40 Ohm
			      MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x0b0b0 // LED 3, output 40 Ohm
			      >;
		};

		/* SER1 on schematics */
		pinctrl_uart2: uart2grp {
			fsl,pins = <
			       MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
			       MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
			>;
		};

		/* SER0 on schematics */
		pinctrl_uart4: uart4grp {
			fsl,pins = <
			       MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA	0x1b0b1
			       MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA	0x1b0b1
			       MX6QDL_PAD_CSI0_DAT17__UART4_CTS_B	0x1b0b1
			       MX6QDL_PAD_CSI0_DAT16__UART4_RTS_B	0x1b0b1
			>;
		};

		/* SER2 on schematics */
		pinctrl_uart5: uart5grp {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT14__UART5_TX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT14__UART5_RX_DATA	0x1b0b1
				MX6QDL_PAD_CSI0_DAT18__UART5_RTS_B	0x1b0b1
				MX6QDL_PAD_CSI0_DAT19__UART5_CTS_B	0x1b0b1
			>;
		};

        	pinctrl_usdhc1: usdhc1_grp {
                	fsl,pins = <
                        	MX6QDL_PAD_SD1_CMD__SD1_CMD             0x17059
                        	MX6QDL_PAD_SD1_CLK__SD1_CLK             0x10059
                        	MX6QDL_PAD_SD1_DAT0__SD1_DATA0          0x17059
                        	MX6QDL_PAD_SD1_DAT1__SD1_DATA1          0x17059
                        	MX6QDL_PAD_SD1_DAT2__SD1_DATA2          0x17059
                        	MX6QDL_PAD_SD1_DAT3__SD1_DATA3          0x17059
                        	MX6QDL_PAD_NANDF_CS1__GPIO6_IO14        0x1b0b0
                	>;
        	};

 		pinctrl_usdhc3: usdhc3_grp {
                	fsl,pins = <
                        	MX6QDL_PAD_SD3_CMD__SD3_CMD             0x17059
                        	MX6QDL_PAD_SD3_CLK__SD3_CLK             0x10059
                        	MX6QDL_PAD_SD3_DAT0__SD3_DATA0          0x17059
                        	MX6QDL_PAD_SD3_DAT1__SD3_DATA1          0x17059
                        	MX6QDL_PAD_SD3_DAT2__SD3_DATA2          0x17059
                        	MX6QDL_PAD_SD3_DAT3__SD3_DATA3          0x17059
                        	MX6QDL_PAD_SD3_DAT4__SD3_DATA4          0x17059
                        	MX6QDL_PAD_SD3_DAT5__SD3_DATA5          0x17059
                        	MX6QDL_PAD_SD3_DAT6__SD3_DATA6          0x17059
                        	MX6QDL_PAD_SD3_DAT7__SD3_DATA7          0x17059
                	>;
        	};

		pinctrl_usdhc4: usdhc4_grp {
			fsl,pins = <
				MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17059
				MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10059
				MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
				MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
				MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
				MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
				MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17059
				MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17059
				MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17059
				MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17059
			>;
		};

        /* TODO: CTP We need to verify HW mapping first
        pinctrl_pwm1: pwm1grp {
            fsl,pins = <
            MX6QDL_PAD_SD1_DAT3__PWM1_OUT           0x1b0b1
            >;
        };

        pinctrl_pwm2: pwm2grp {
            fsl,pins = <
            MX6QDL_PAD_SD1_DAT3__PWM1_OUT           0x1b0b1
            >;
        };

        pinctrl_pwm3: pwm3grp {
            fsl,pins = <
            MX6QDL_PAD_SD1_DAT1__PWM3_OUT           0x1b0b1
            >;
        };

        pinctrl_pwm4: pwm4grp {
            fsl,pins = <
            MX6QDL_PAD_SD1_CMD__PWM4_OUT            0x1b0b1
            >;
        };
        */

	};
};

&clks {
	assigned-clocks = <&clks IMX6QDL_CLK_LDB_DI0_SEL>,
		<&clks IMX6QDL_CLK_LDB_DI1_SEL>;
	assigned-clock-parents = <&clks IMX6QDL_CLK_PLL3_USB_OTG>,
		<&clks IMX6QDL_CLK_PLL3_USB_OTG>;
};

&ecspi1 {
	cs-gpios = <&gpio2 30 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	spiflash: w25q32dw@0 {
		compatible = "winbond,w25q32dw", "jedec,spi-nor";
		spi-max-frequency = <5000000>;
		reg = <0>;
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rgmii-id";
	phy-handle = <&phy>;
	phy-reset-duration = <10>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

   		/* Atheros AR8035 PHY */
		phy: ethernet-phy@4 {
			reg = <4>;
			reset-gpios = <&gpio1 25 GPIO_ACTIVE_LOW>;
			qca,clk-out-frequency = <125000000>;
		};
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

    	pmic: pfuze100@8 {
        	compatible = "fsl,pfuze100";
        	reg = <0x08>;

        regulators {
            // VDD_CORE
            sw1a_reg: sw1ab {
                regulator-min-microvolt = <300000>;
                regulator-max-microvolt = <1375000>;
                regulator-boot-on;
                regulator-always-on;
                regulator-ramp-delay = <6250>;
            };

            // VDD_SOC
            sw1c_reg: sw1c {
                regulator-min-microvolt = <300000>;
                regulator-max-microvolt = <1375000>;
                regulator-boot-on;
                regulator-always-on;
                regulator-ramp-delay = <6250>;
            };

            // GEN_3V3
            sw2_reg: sw2 {
                regulator-min-microvolt = <800000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };

            // DDR_1V35
            sw3a_reg: sw3a {
                regulator-min-microvolt = <400000>;
                regulator-max-microvolt = <1350000>;
                regulator-boot-on;
                regulator-always-on;
            };

            /* Check this?
            sw3b_reg: sw3b {
                regulator-min-microvolt = <400000>;
                regulator-max-microvolt = <1350000>;
                regulator-boot-on;
                regulator-always-on;
            };
            */

            // SWBST_5V
            swbst_reg: swbst {
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5150000>;
                regulator-boot-on;
                regulator-always-on;
            };

            snvs_reg: vsnvs {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3000000>;
                regulator-boot-on;
                regulator-always-on;
            };

            vref_reg: vrefddr {
                regulator-boot-on;
                regulator-always-on;
            };

            // vgen1 (1.5V), vgen2 (1.5V) and vgen3 (2.5V) unused

            vgen4_reg: vgen4 {
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                regulator-boot-on;
                regulator-always-on;
            };

            vgen5_reg: vgen5 {
                regulator-min-microvolt = <2800000>;
                regulator-max-microvolt = <2800000>;
                regulator-boot-on;
                regulator-always-on;
            };

            vgen6_reg: vgen6 {
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };
        };
	};

	// As described in SMARC_Hardware_Specification_V1p1.pdf
	// SMARC Modules shall include an I2C serial EEPROM
	eeprom@50 {
                compatible = "atmel,24c64";
                reg = <0x50>;
        };

	// SMARC Carriers may include an I2C serial EEPROM
        eeprom@57 {
                compatible = "atmel,24c64";
                reg = <0x57>;
        };
};

&i2c3 {
	pinctrl-names = "default";
	clock-frequency = <100000>;
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	// PCA9546ABS I2C multiplexer
	i2c-switch@70 {
		compatible = "nxp,pca9546";
                reg = <0x70>;
                #address-cells = <1>;
                #size-cells = <0>;

                i2c_lcd: i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
                };

                i2c_hdmi: i2c@1 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;
                };

                i2c_gp: i2c@2 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <2>;
                };

                i2c_cam: i2c@3 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <3>;
                };

	};
};

&i2c4 {
	pinctrl-names = "default";
	clock-frequency = <100000>;
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	uart-has-rtscts;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	uart-has-rtscts;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	vmmc-supply = <&reg_3p3v>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&wdog1 {
	status = "disabled";
};

&wdog2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&gpio1 {
	gpio-line-names =
		"", // GPIO_0 GPIO1_IO00 0
		"", // GPIO_1 GPIO1_IO01 1
		"", // GPIO_2 GPIO1_IO02 2
		"", // GPIO_3 GPIO1_IO03 3
		"", // GPIO_4 GPIO1_IO04 4
		"", // GPIO_5 GPIO1_IO05 5
		"", // GPIO_6 GPIO1_IO06 6
		"", // GPIO_7 GPIO1_IO07 7
		"", // GPIO_8 GPIO1_IO08 8
		"", // GPIO_9 GPIO1_IO09 9
		"", // SD2_CLK GPIO1_IO10 10
		"", // SD2_CMD GPIO1_IO11 11
		"", // SD2_DAT3 GPIO1_IO12 12
		"", // SD2_DAT2 GPIO1_IO13 13
		"", // SD2_DAT1 GPIO1_IO14 14
		"", // SD2_DAT0 GPIO1_IO15 15
		"", // SD1_DAT0 GPIO1_IO16 16
		"", // SD1_DAT1 GPIO1_IO17 17
		"", // SD1_CMD GPIO1_IO18 18
		"", // SD1_DAT2 GPIO1_IO19 19
		"", // SD1_CLK GPIO1_IO20 20
		"", // SD1_DAT3 GPIO1_IO21 21
		"", // ENET_MDIO GPIO1_IO22 22
		"", // ENET_REF_CLK GPIO1_IO23 23
		"", // ENET_RX_ER GPIO1_IO24 24
		"", // ENET_CRS_DV GPIO1_IO25 25
		"", // ENET_RXD1 GPIO1_IO26 26
		"", // ENET_RXD0 GPIO1_IO27 27
		"", // ENET_TX_EN GPIO1_IO28 28
		"", // ENET_TXD1 GPIO1_IO29 29
		"", // ENET_TXD0 GPIO1_IO30 30
		""; // ENET_MDC GPIO1_IO31 31
};

&gpio2 {
	gpio-line-names =
		"", // NANDF_D0 GPIO2_IO00 32
		"", // NANDF_D1 GPIO2_IO01 33
		"", // NANDF_D2 GPIO2_IO02 34
		"", // NANDF_D3 GPIO2_IO03 35
		"", // NANDF_D4 GPIO2_IO04 36
		"", // NANDF_D5 GPIO2_IO05 37
		"", // NANDF_D6 GPIO2_IO06 38
		"", // NANDF_D7 GPIO2_IO07 39
		"", // SD4_DAT0 GPIO2_IO08 40
		"", // SD4_DAT1 GPIO2_IO09 41
		"", // SD4_DAT2 GPIO2_IO10 42
		"", // SD4_DAT3 GPIO2_IO11 43
		"", // SD4_DAT4 GPIO2_IO12 44
		"", // SD4_DAT5 GPIO2_IO13 45
		"", // SD4_DAT6 GPIO2_IO14 46
		"", // SD4_DAT7 GPIO2_IO15 47
		"", // EIM_A22 GPIO2_IO16 48
		"", // EIM_A21 GPIO2_IO17 49
		"", // EIM_A20 GPIO2_IO18 50
		"", // EIM_A19 GPIO2_IO19 51
		"", // EIM_A18 GPIO2_IO20 52
		"", // EIM_A17 GPIO2_IO21 53
		"", // EIM_A16 GPIO2_IO22 54
		"", // EIM_CS0 GPIO2_IO23 55
		"", // EIM_CS1 GPIO2_IO24 56
		"", // EIM_OE GPIO2_IO25 57
		"", // EIM_RW GPIO2_IO26 58
		"", // EIM_LBA GPIO2_IO27 59
		"", // EIM_EB0 GPIO2_IO28 60
		"", // EIM_EB1 GPIO2_IO29 61
		"", // EIM_EB2 GPIO2_IO30 62
		""; // EIM_EB3 GPIO2_IO31 63
};

&gpio3 {
	gpio-line-names =
		"", // EIM_DA0 GPIO3_IO00 64
		"", // EIM_DA1 GPIO3_IO01 65
		"", // EIM_DA2 GPIO3_IO02 66
		"", // EIM_DA3 GPIO3_IO03 67
		"", // EIM_DA4 GPIO3_IO04 68
		"", // EIM_DA5 GPIO3_IO05 69
		"", // EIM_DA6 GPIO3_IO06 70
		"", // EIM_DA7 GPIO3_IO07 71
		"", // EIM_DA8 GPIO3_IO08 72
		"", // EIM_DA9 GPIO3_IO09 73
		"", // EIM_DA10 GPIO3_IO10 74
		"", // EIM_DA11 GPIO3_IO11 75
		"", // EIM_DA12 GPIO3_IO12 76
		"", // EIM_DA13 GPIO3_IO13 77
		"", // EIM_DA14 GPIO3_IO14 78
		"", // EIM_DA15 GPIO3_IO15 79
		"", // EIM_D16 GPIO3_IO16 80
		"", // EIM_D17 GPIO3_IO17 81
		"", // EIM_D18 GPIO3_IO18 82
		"", // EIM_D19 GPIO3_IO19 83
		"", // EIM_D20 GPIO3_IO20 84
		"", // EIM_D21 GPIO3_IO21 85
		"", // EIM_D22 GPIO3_IO22 86
		"", // EIM_D23 GPIO3_IO23 87
		"", // EIM_D24 GPIO3_IO24 88
		"", // EIM_D25 GPIO3_IO25 89
		"", // EIM_D26 GPIO3_IO26 90
		"", // EIM_D27 GPIO3_IO27 91
		"", // EIM_D28 GPIO3_IO28 92
		"", // EIM_D29 GPIO3_IO29 93
		"", // EIM_D30 GPIO3_IO30 94
		""; // EIM_D31 GPIO3_IO31 95
};

&gpio4 {
	gpio-line-names =
		"", // GPIO_19 GPIO4_IO05 101
		"", // KEY_COL0 GPIO4_IO06 102
		"", // KEY_ROW0 GPIO4_IO07 103
		"", // KEY_COL1 GPIO4_IO08 104
		"", // KEY_ROW1 GPIO4_IO09 105
		"", // KEY_COL2 GPIO4_IO10 106
		"", // KEY_ROW2 GPIO4_IO11 107
		"", // KEY_COL3 GPIO4_IO12 108
		"", // KEY_ROW3 GPIO4_IO13 109
		"", // KEY_COL4 GPIO4_IO14 110
		"", // KEY_ROW4 GPIO4_IO15 111
		"", // DI0_DISP_CLK GPIO4_IO16 112
		"", // DI0_PIN15 GPIO4_IO17 113
		"", // DI0_PIN2 GPIO4_IO18 114
		"", // DI0_PIN3 GPIO4_IO19 115
		"", // DI0_PIN4 GPIO4_IO20 116
		"", // DISP0_DAT0 GPIO4_IO21 117
		"", // DISP0_DAT1 GPIO4_IO22 118
		"", // DISP0_DAT2 GPIO4_IO23 119
		"", // DISP0_DAT3 GPIO4_IO24 120
		"", // DISP0_DAT4 GPIO4_IO25 121
		"", // DISP0_DAT5 GPIO4_IO26 122
		"", // DISP0_DAT6 GPIO4_IO27 123
		"", // DISP0_DAT7 GPIO4_IO28 124
		"", // DISP0_DAT8 GPIO4_IO29 125
		"", // DISP0_DAT9 GPIO4_IO30 126
		""; // DISP0_DAT10 GPIO4_IO31 127
};

&gpio5 {
	gpio-line-names =
		"", // EIM_WAIT GPIO5_IO00 128
		"", // EIM_A25 GPIO5_IO02 130
		"", // EIM_A24 GPIO5_IO04 132
		"", // DISP0_DAT11 GPIO5_IO05 133
		"", // DISP0_DAT12 GPIO5_IO06 134
		"", // DISP0_DAT13 GPIO5_IO07 135
		"", // DISP0_DAT14 GPIO5_IO08 136
		"", // DISP0_DAT15 GPIO5_IO09 137
		"", // DISP0_DAT16 GPIO5_IO10 138
		"", // DISP0_DAT17 GPIO5_IO11 139
		"", // DISP0_DAT18 GPIO5_IO12 140
		"", // DISP0_DAT19 GPIO5_IO13 141
		"", // DISP0_DAT20 GPIO5_IO14 142
		"", // DISP0_DAT21 GPIO5_IO15 143
		"", // DISP0_DAT22 GPIO5_IO16 144
		"", // DISP0_DAT23 GPIO5_IO17 145
		"", // CSI0_PIXCLK GPIO5_IO18 146
		"", // CSI0_MCLK GPIO5_IO19 147
		"", // CSI0_DATA_EN GPIO5_IO20 148
		"", // CSI0_VSYNC GPIO5_IO21 149
		"", // CSI0_DAT4 GPIO5_IO22 150
		"", // CSI0_DAT5 GPIO5_IO23 151
		"", // CSI0_DAT6 GPIO5_IO24 152
		"", // CSI0_DAT7 GPIO5_IO25 153
		"", // CSI0_DAT8 GPIO5_IO26 154
		"", // CSI0_DAT9 GPIO5_IO27 155
		"", // CSI0_DAT10 GPIO5_IO28 156
		"", // CSI0_DAT11 GPIO5_IO29 157
		"", // CSI0_DAT12 GPIO5_IO30 158
		""; // CSI0_DAT13 GPIO5_IO31 159
};

&gpio6 {
	gpio-line-names =
		"", // CSI0_DAT14 GPIO6_IO00 160
		"", // CSI0_DAT15 GPIO6_IO01 161
		"", // CSI0_DAT16 GPIO6_IO02 162
		"", // CSI0_DAT17 GPIO6_IO03 163
		"", // CSI0_DAT18 GPIO6_IO04 164
		"", // CSI0_DAT19 GPIO6_IO05 165
		"", // EIM_A23 GPIO6_IO06 166
		"", // NANDF_CLE GPIO6_IO07 167
		"", // NANDF_ALE GPIO6_IO08 168
		"", // NANDF_WP_B GPIO6_IO09 169
		"", // NANDF_RB0 GPIO6_IO10 170
		"", // NANDF_CS0 GPIO6_IO11 171
		"", // NANDF_CS1 GPIO6_IO14 174
		"", // NANDF_CS2 GPIO6_IO15 175
		"", // NANDF_CS3 GPIO6_IO16 176
		"", // SD3_DAT7 GPIO6_IO17 177
		"", // SD3_DAT6 GPIO6_IO18 178
		"", // RGMII_TXC GPIO6_IO19 179
		"", // RGMII_TD0 GPIO6_IO20 180
		"", // RGMII_TD1 GPIO6_IO21 181
		"", // RGMII_TD2 GPIO6_IO22 182
		"", // RGMII_TD3 GPIO6_IO23 183
		"", // RGMII_RX_CTL GPIO6_IO24 184
		"", // RGMII_RD0 GPIO6_IO25 185
		"", // RGMII_TX_CTL GPIO6_IO26 186
		"", // RGMII_RD1 GPIO6_IO27 187
		"", // RGMII_RD2 GPIO6_IO28 188
		"", // RGMII_RD3 GPIO6_IO29 189
		"", // RGMII_RXC GPIO6_IO30 190
		""; // EIM_BCLK GPIO6_IO31 191
};

&gpio7 {
	gpio-line-names =
		"", // SD3_DAT5 GPIO7_IO00 192
		"", // SD3_DAT4 GPIO7_IO01 193
		"", // SD3_CMD GPIO7_IO02 194
		"", // SD3_CLK GPIO7_IO03 195
		"", // SD3_DAT0 GPIO7_IO04 196
		"", // SD3_DAT1 GPIO7_IO05 197
		"", // SD3_DAT2 GPIO7_IO06 198
		"", // SD3_DAT3 GPIO7_IO07 199
		"", // SD3_RST GPIO7_IO08 200
		"", // SD4_CMD GPIO7_IO09 201
		"", // SD4_CLK GPIO7_IO10 202
		"", // GPIO_16 GPIO7_IO11 203
		"", // GPIO_17 GPIO7_IO12 204
		""; // GPIO_18 GPIO7_IO13 205
};

